@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-image: url(/img/bac_img.svg);
  background-size: 100%;
  background-repeat: repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  padding: 0px 10px;
}

.wrapper {
  max-width: 1110px;
  width: 100%;
  height: 558px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
}
.wrapper .info {
  max-width: 525px;
  width: 100%;
  height: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.wrapper .info h1 {
  font-weight: 700;
  font-size: 50px;
  line-height: 110%;
  letter-spacing: -0.01em;
  color: #fff;
}
.wrapper .info p {
  font-weight: 500;
  font-size: 16px;
  line-height: 162%;
  color: #fff;
}
.wrapper .register {
  max-width: 540px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.wrapper .register .discount {
  border-radius: 10px;
  max-width: 540px;
  width: 100%;
  height: 60px;
  -webkit-box-shadow: 0 8px 0 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 8px 0 0 rgba(0, 0, 0, 0.15);
  background: #5e54a4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.wrapper .register .discount p {
  font-weight: 300;
  font-size: 15px;
  line-height: 173%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}
.wrapper .register .sign-up {
  padding: 40px;
  display: grid;
  gap: 16px;
  border-radius: 10px;
  max-width: 540px;
  width: 100%;
  -webkit-box-shadow: 0 8px 0 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 8px 0 0 rgba(0, 0, 0, 0.15);
  background: #fff;
}
.wrapper .register .sign-up p {
  font-weight: 500;
  font-size: 11px;
  line-height: 236%;
  text-align: center;
  color: #bab7d4;
}
.wrapper .register .sign-up p span {
  font-weight: 700;
  color: #ff7979;
}
.wrapper .register .sign-up form {
  display: grid;
  gap: 10px;
}
.wrapper .register .sign-up form span {
  position: relative;
  top: -6px;
  font-style: italic;
  font-weight: 500;
  font-size: 11px;
  text-align: right;
  color: #ff7979;
}
.wrapper .register .sign-up form input {
  border: 1px solid #dedede;
  border-radius: 5px;
  max-width: 460px;
  width: 100%;
  height: 56px;
  outline: none;
  padding: 15px 32px;
  font-weight: 600;
  font-size: 14px;
  line-height: 186%;
  letter-spacing: 0.02em;
  color: #3d3b48;
}
.wrapper .register .sign-up form input::-webkit-input-placeholder {
  opacity: 0.75;
}
.wrapper .register .sign-up form input::-moz-placeholder {
  opacity: 0.75;
}
.wrapper .register .sign-up form input:-ms-input-placeholder {
  opacity: 0.75;
}
.wrapper .register .sign-up form input::-ms-input-placeholder {
  opacity: 0.75;
}
.wrapper .register .sign-up form input::placeholder {
  opacity: 0.75;
}
.wrapper .register .sign-up form .error {
  border: 1px solid #ff7979;
  color: #ff7979;
  background: url(/img/caution.svg);
  background-repeat: no-repeat;
  background-position: 95%;
}
.wrapper .register .sign-up form .eye {
  margin-left: 5px;
  width: 10px;
  height: 10px;
  -webkit-transform: translateY(-56px);
      -ms-transform: translateY(-56px);
          transform: translateY(-56px);
  border: none;
  background: none;
  cursor: pointer;
}
.wrapper .register .sign-up form .claeim {
  border-radius: 5px;
  max-width: 460px;
  width: 100%;
  height: 56px;
  -webkit-box-shadow: inset 0 -4px 0 0 rgba(0, 0, 0, 0.09);
          box-shadow: inset 0 -4px 0 0 rgba(0, 0, 0, 0.09);
  background: #38cc8b;
  font-weight: 600;
  font-size: 15px;
  line-height: 173%;
  letter-spacing: 0.07em;
  color: #fff;
  border: none;
  cursor: pointer;
}
.wrapper .register .sign-up form .claeim:hover {
  background: #77e2b3;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

@media screen and (max-width: 700px) {
  body {
    padding: 68px 24px;
    height: 1000px;
  }
  .wrapper {
    max-width: 375px;
    height: 844px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .wrapper .info {
    max-width: 327px;
    height: 226px;
  }
  .wrapper .info h1 {
    text-align: center;
    font-size: 28px;
    line-height: 129%;
    letter-spacing: -0.01em;
  }
  .wrapper .info p {
    font-size: 16px;
    line-height: 162%;
    text-align: center;
  }
  .wrapper .register {
    max-width: 327px;
  }
  .wrapper .register .discount {
    max-width: 327px;
    height: 88px;
  }
  .wrapper .register .discount p {
    max-width: 194px;
    text-align: center;
  }
  .wrapper .register .sign-up {
    max-width: 327px;
    padding: 24px;
  }
  .wrapper .register .sign-up p {
    margin: 0 auto;
    max-width: 249px;
    line-height: 191%;
  }
  .wrapper .register .sign-up form input {
    padding: 15px 20px;
    max-width: 279px;
    height: 56px;
  }
  .wrapper .register .sign-up form button {
    max-width: 279px;
    height: 56px;
  }
}